<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="{{dish.image}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{dish.name}}</h4>
          <p class="card-text">{{dish.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <i class="fa fa-user"></i>
        <div class="media-body">
          <h5 class="mt-0">{{dish.comments[0]['author']}}</h5>
          {{dish.comments[0]['comment']}}
        </div>
      </div>
    </div>
  </div>
</div>
